header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* ANCHOR: CTA */

.cta{
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

/* ANCHOR: Socials */

.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    position: absolute;
    left: 0;
    bottom: 5rem;
}
.header__socials>a{
    font-size: 3rem;
}

/* ANCHOR: image */

.me {
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, var(--color-primary) 10px), repeating-linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.me img{
    position: absolute;
    top: 0;
    left: 1rem;
}


/* ANCHOR: MEDIA QUERIES========= MD ========= */

@media (max-width: 1024px) {
    .me img {
            top: 12rem;
    }
    header {
        padding-top: 4rem;
    }
    
}



/* ANCHOR: MEDIA QUERIES========= SM ========= */

@media (max-width: 520px) {
    .header__socials {
            display: none;
    }
        .me img {
            top: 6rem;
        }
}